html, body { 
    height: 100%;
    background-image: url("../img/clouds_background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
  }
.main {
    position: absolute;
    top: 50px;
    left: 100px;
    right: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    margin: 10px;
    width: 200px;
    height: 280px;
    border-radius: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.fire_type {
    background-color: rgb(231, 144, 94);
}
.psy_type {
    background-color:rgb(229, 155, 213)
}
.sinister_type {
    background-color: gray;
}
.dragon_type {
    background-color:rgb(108, 63, 129);
}
.water_type {
    background-color:rgb(65, 127, 241);
}
.plant_type {
    background-color: rgb(73, 196, 73);
}
.electric_type {
    background-color: rgb(235, 220, 88);
}
.ghost_type {
    background-color: rgb(60, 60, 63);
}
.rock_type {
    background-color:rgb(201, 148, 50)
}
img {
    height: 140px;
    position: relative;
    right: 30px;
    bottom: 10px;
}
.pokemon_bg {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(190, 212, 211);
}
.pokemon_data {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90px;
}
p {
    text-align: center;
    color: aliceblue;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-weight: 800;
}
.pokemon_type p {
    font-size: small;
    font-weight: 100;
}

